<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="rtl">
<!-- BEGIN: Head-->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">


    <script src="~/src/js/core/libraries/jquery.min.js"></script>
    @await RenderSectionAsync("JsHead", required: false)

    @await RenderSectionAsync("CssFirst", required: false)

    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/favicon.ico">
    <link href="~/app-assets/images/fonts.googleapis.css" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    @await RenderSectionAsync("CssVendor", required: false)
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/themes/semi-dark-layout.min.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    @await RenderSectionAsync("CssPage", required: false)
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/custom-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style-rtl.css">
    <!-- END: Custom CSS-->

    @await RenderSectionAsync("CssEnd", required: false)

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
    <body id="myBody"  onload="myFunction()" class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" >

        <!-- BEGIN: Header-->
        @await Html.PartialAsync("_HeaderPartial")
        <!-- END: Header-->
        <!-- BEGIN: Main Menu-->
        @await Html.PartialAsync("_MenuPartial")
        <!-- END: Main Menu-->
        <!-- BEGIN: Content-->
        @RenderBody()
        <!-- END: Content-->
        <!-- BEGIN: Customizer-->
        @await Html.PartialAsync("_CustomizerPartial")
        <!-- End: Customizer-->

        <div class="sidenav-overlay"></div>
        <div class="drag-target"></div>

        <!-- BEGIN: Footer-->
        @await Html.PartialAsync("_footerPartial")
        <!-- END: Footer-->

        @await RenderSectionAsync("JsFirst", required: false)

        <!-- BEGIN: Vendor JS-->
        <script src="~/app-assets/vendors/js/vendors.min.js"></script>
        <!-- END Vendor JS-->
        <!-- BEGIN: Page Vendor JS-->
        @await RenderSectionAsync("JsVendor", required: false)
        <!-- END: Page Vendor JS-->
        <!-- BEGIN: Theme JS-->
        <script src="~/app-assets/js/core/app-menu.min.js"></script>
        <script src="~/app-assets/js/core/app.min.js"></script>
        <script src="~/app-assets/js/scripts/components.min.js"></script>
        <script src="~/app-assets/js/scripts/customizer.min.js"></script>
        <script src="~/app-assets/js/scripts/footer.min.js"></script>
        <!-- END: Theme JS-->
        <!-- BEGIN: Page JS-->
        @await RenderSectionAsync("JsPage", required: false)
        <!-- END: Page JS-->

        @await RenderSectionAsync("JsEnd", required: false)

        @await RenderSectionAsync("Scripts", required: false)
    </body>
    <!-- END: Body-->
</html>

@*<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Targeted</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Targeted</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Targeted - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>*@
